<!doctype html>
<html lang="en" ng-app="TestApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="AppCtrl">

<div class="container">
    <form role="form">
        <input type="text" ng-model="task.desc" placeholder="Task Name">
        <button type="submit" ng-click="add()"><i class="glyphicon glyphicon-plus"></i>Add</button>
    </form>
</div>

<div class="container">
    <div class="list-group" ng-repeat="t in tasks">
        <a href="#" class="list-group-item ">
            <h2 class="list-group-item-heading"><s ng-show="t.completed">{{t.desc}}</s><span ng-hide="t.completed">{{t.desc}}</span></h2>
            <p class="list-group-item-text">
            <input type="checkbox" ng-model="t.completed" aria-label="Completed"/>
            <br/>
            <textarea ng-model="t.comment" ng-hide="t.completed" placeholder="Comments"></textarea>
            <span ng-show="t.completed">{{t.comment}}</span>
            </p>
        </a>
    </div>
</div>

</body>
</html>
